.header_wrap {
  position: relative;
  background-image: url('./img/hero1.jpg');
  background-size: cover;
  width: 100vw;
  height: 80vh;

  h1 {
    text-align: center;
    margin: 5.5rem 0 2rem 0;
    font-size: 2.5rem;
    color: yellow;
    font-weight: bold;
  }

  h3 {
    display: block;
    width: 60vw;
    text-align: center;
    color: #fff;
    margin: auto;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5)
  }


.header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(154,154,216,0.5);

  .links {
    display: flex;

    a {
      color: rgba(91,91,218,1);
      padding: 20px 16px;
      display: block;
      font-size: 0.8rem;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid rgba(154,154,216,0.5);
      border-right: none;
      border-top: none;
    }
    a:hover {
      border: none;
      color: #fff;
      background-color: #17177d;
    }
  }

  .buttons{
    margin-left: auto;
    position: relative;

    button {
      color: #fff;
      border: none;
      outline: none;
      padding: 20px;
      font-size: 0.8rem;
      background-color: rgba(91,91,218,0.5);
      font-family: Arial, Helvetica, sans-serif;
    }
    .button:hover {
      color: #17177d;
      background-color: rgba(154,154,216,0.5);
    }

    .signupMenu_Open {
      position: absolute;
      background-color: rgba(91,91,218,0.5);
      border-top: 2px solid #17177d;
    }

    .signupMenu_Close {
      position: absolute;
      right: 9999px;
    }
  }
}

.sub_header {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;

  .button {
    width: 16.666666667vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: rgba(255,255,255,0.25);
    outline: 0;
    border: 0;
  }
  .button:hover {
    color: #fff;
    background-color: rgba(23,23,125,0.25);
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .header{
    .links {
      order: 2;
      width: 100vw;

      a {
        width: 25%;
        border: none;
        color: #fff;
        padding: 9px 12px;
        text-align: center;
        background-color: #17177d;
      }
    }
    .buttons{
      margin-left: auto;
      order: 1;

      button {
        padding: 16px;
      }
    }
  }
}
