.userSignupForm {
  form {
    padding: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    lable {
      color: #fff;
      margin-top: 16px;
      font-size: 0.8rem;
      display: block;
    }

    input {
      width: 60%;
      padding: 10px;
      margin: 5px 0;
    }
  }

  button {
    width: 50%;

    &.red {
      background-color: #921515;
    }
    &.green {
      background-color: #29583e;
    }
  }
}
